* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
}
img {
  border-radius: 5%;
  width: 100%;
  display: flex;
}
h3 {
  font-weight: bold;
  font-size-adjust: inherit;
  font-size: 1.5em;
  margin: auto;
}
p {
  font-size: 1.2em;
  margin: 5% 10%;
}
.container {
  margin: 5% 36%;
  border-radius: 5%;
  padding: 1%;
  background-color: hsl(0, 0%, 100%);
  width: auto;
}
p {
  color: hsl(220, 15%, 55%);
  font-weight: lighter;
  font-size: 1rem;
}
.content {
  text-align: center;
  display: block;
  width: 100%;
}
.content div {
  margin-bottom: 8%;
}
.text {
  width: 100%;
}
